/* LoginPage.css */

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222831;
  color: #f0f8ff;
}

.container {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #31363F;
  width: 70vw;
  height: 60vh;
  margin: auto;
}

.left-section,
.right-section {
  padding: 25px;
  margin: 10px;
}

.left-section {
  width: 50%;
  background-image: url('/src/assets/images/placeholder-image.jpg');
  background-size: cover;
  background-position: center;

}

.right-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  overflow: hidden;

}

.login-title {
  margin-bottom: 20px;
}

.login-form {
  width: 70%;
}

.login-form input {
  width: 100%;
  height: 25px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #222831;
  border-radius: 4px;
}

.login-form button {
  width: 100%;
  /* Faz com que cada botão preencha o espaço total da div pai */
  padding: 10px;
  margin: 5px 0;
  /* Garante que haja um pequeno espaço vertical entre os botões */
  border: none;
  border-radius: 4px;
  background-color: #76ABAE;
  color: black;
  cursor: pointer;
  font-size: 0.7em;
  /* Torna o tamanho da fonte um pouco menor */
  text-align: center;
  /* Garante que o texto esteja centralizado */
  white-space: normal;
  /* Permite que o texto quebre em mais de uma linha se necessário */
  overflow: visible;
  /* Esconde qualquer texto que exceda o botão */

}

.login-form button:hover {
  background-color: #70A0A0;
  /* Efeito de hover para os botões */
}

.botoes {
  display: flex;
  justify-content: space-between;
  /* Espaça igualmente os botões */
  align-items: center;
  width: 100%;
  /* Faz com que a div botoes ocupe a largura total da div pai */
}

.botoes button {
  flex: 1;
  /* Faz com que ambos os botões ocupem espaços iguais */
  margin: 5px;
  /* Espaço ao redor dos botões para não ficarem grudados */
  height: auto;
  /* Altura auto para acomodar conteúdo extra */
  min-height: 50px;
  /* Garante uma altura mínima para os botões */
  min-width: 100px;
  /* Define uma largura mínima para os botões */
}

@media (max-width: 800px) {
  .botoes {
    flex-direction: column;
    /* Coloca os botões em coluna em telas pequenas */
  }

  .botoes button {
    width: 100%;
    /* Garante que cada botão ocupe a largura total */
    margin: 10px 0;
    /* Ajusta a margem para maior espaçamento vertical */
  }
}