/* HomePage.css */
.home-page{
  max-width: 100vw;
}

.scroll-container {
  overflow: auto;
  white-space: nowrap; /* Previne quebra de linha */
}

.scroll-container > * {
  display: inline-block; /* Faz com que os elementos se comportem como elementos inline e aceitem largura e altura */
  vertical-align: top; /* Alinha os elementos verticalmente ao topo */
  margin-right: 10px; /* Adiciona margem entre os elementos */
}

  
  h2{
    margin-left: 30px;
  }