/* HomePage.css */
.home-page {
  max-width: 99vw;
  min-height: calc(100vh - 60px);
  margin-top: 7vh;
  box-sizing: border-box;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 20px 0;
}

.scroll-container>* {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

h2 {
  margin-left: 20px;
  margin-top: 20px;
}